site_name: EdRetain Documentation

nav:
  - Home: index.md
  - Architecture:
      - Problem & Solution: index.md
  - Services:
    - ETL Service: etl.md
    - API Service: api.md
    - Frontend (Streamlit App): app.md
    - Data Science & Analytics: ds.md
  - Notebooks:
      - Result Analysis: notebook.md
  - Resources: resources.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: ["."]
