#fastapi==0.89.1
uvicorn==0.20.0
python-dotenv==1.0.1
pytz==2024.2
six==1.16.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
psycopg2==2.9.10
loguru>=0.7.0
pandas==1.5.3
#pydantic==1.10.12 
fastapi>=0.104.0
pydantic>=2.0